.info{
    width: 100%;
    background-color: #64649B;
    min-height: 40px;
    font-family: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding-top: 10px;
}

.container-info a{
    color: black;
    font-weight: bold;
}

.header{
    width: 100%;
    min-height: 120px;
    background-color: black;
}

.container-header{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 38px 0;
}

.nav-header ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-header ul li{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;

    transition: all 0.2s linear;
}

.nav-header ul li:hover {
  border-top: 1.3px solid white;
  border-bottom: 1.3px solid white;
}

.nav-header ul li a {
    color: white;
  }

.banner-inicial{
    width: 100%;
    background-image: url(../Img/home.jpg);
    background-size: cover;
    background-position: center bottom;
    min-height: 840px;
}

.content-banner{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.content-banner h1{
    font-size: 3.93em;
    font-weight: bold;
    padding-top: 245px;
    margin-bottom: 75px;
}

.content-banner h2{
    font-size: 2.18em;
    margin-bottom: 75px;
}

.btn-black{
    border: 5px solid black;
    background-color: rgba(0,0,0,.9);
    color: #64649B;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: all .4s linear;
    display: block;
    padding: 10px 0;
    width: 10%;
}

.btn-black:hover{
    background-color: black;
    color: white
}

.contact{
    background-color: black;
    min-height: 480px;
    width: 100%;
}

.content-contact{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content-contact h2{
    color: white;
    font-size: 1.6em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 50px;
}

.content-contact address, .content-contact a, .btn-white{
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content-contact address{
    margin: 10px 0 0 0;
    font-size: 1.2em;
}

.icon{
    font-size: 1.1em;
    margin-right: 5px;
}

.btn-white{
    border: 5px solid white;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: all .2s linear;
    display: block;
    padding: 10px 0;
    width: 17%;
    margin-top: 20px;
}

.btn-white:hover{
    border-color: #64649B;
    color: #64649B;
}

.introduçao-Lex{
    width: 100%;
    background-image: url(../Img/patrick-tomasso-Oaqk7qqNh_c-unsplash@2x.jpg);
    min-height: 350px;
}

.content-introduçao{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content-introduçao h2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 90px 0 70px 0;
}

.frases{
    width: 100%;
    min-height: 175px;
    background-color: #64649B;
}

.container-frases{
    max-width: 50%;
    margin: auto;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container-frases q{
    font-style: italic;
    font-size: 1.70em;
    margin-bottom: 15px;
}

.container-frases p{
    font-size: 1.10em;
    align-self: flex-end;
}

.sobre-dr{
    width: 100%;
    min-height: 600px;
    background-color: black;
}

.container-sobre-dr{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container-sobre-dr h2{
    color: white;
    font-size: 1.6em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 50px 0 15px;
}

.bio{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.bio img{
    max-width: 230px;
    max-height: 295px;
}

.bio p{
    width: 60%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
}

.maps iframe{
    width: 100%;
}

.footer{
    width: 100%;
    background-color: black;
    min-height: 250px;
    font-family: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
}

.container-footer{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-footer{
    padding-top: 50px;
}

.nav-footer p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #64649B;
}

.nav-footer li{
    padding: 10px 0;
}

.nav-footer a{
    color: white;
}

.content-footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 40px;
}

.content-footer address{
    color: white;
    text-align: center;
}

.content-footer p{
    color: #64649B;
    margin-bottom: 8px;
    font-weight: bold;
}

.content-footer a{
    color: white;
    padding: 8px 0;
}

.icon-footer{
    margin-right: 5px;
}

.subfooter{
    width: 100%;
    background-color: #64649B;
    min-height: 100px;
    font-family: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
}

.container-subfooter{
    max-width: 80%;
    margin: auto;
    padding-top: 15px;
}

.container-subfooter p{
    padding: 10px 0 5px 0;
}

@media screen and (max-width: 1024px){
    .btn-black{
        width: 20%;
    }

    .btn-white{
        width: 20%;
    }

    .container-frases{
        max-width: 70%;
    }

    .container-frases q{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .info{
        display: none;
    }

    .banner-inicial{
        min-height: 650px;
    }

    .content-banner{
        text-align: center;
    }

    .content-banner h1{
        font-size: 3.3em;
        padding-top: 215px;
    }

    .content-banner h2{
        font-size: 1.6em;
    }

    .content-introduçao h2{
        font-size: 1.5em;
        padding: 70px 0;
    }

    .btn-white{
        width: 30%;
    }

    .container-frases p{
        align-self: center;
    }

    .container-sobre-dr h2{
        text-align: center;
        font-size: 1.3em;
    }

    .bio p{
        font-size: 1em;
    }
}

@media screen and (max-width: 425px){

    .container-footer{
        justify-content: center;
    }

    .nav-footer{
        text-align: center;
    }

    .content-footer{
        padding: 40px 0;
    }
    
}

@media screen and (max-width: 375px){
    
}

@media screen and (max-width: 320px){
    
}