.header{
    width: 100%;
    min-height: 150px;
    background-color: black;
}

.container-header{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 46px 0;
}

.nav-header ul{
    display: flex;
}

.nav-header ul li{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px;

    transition: all 0.2s linear;
}

.nav-header ul li:hover {
  border-top: 1.3px solid white;
  border-bottom: 1.3px solid white;
}

.nav-header ul li a {
    color: white;
  }

.banner-inicial{
    width: 100%;
    background-image: url(../Img/home.jpg);
    background-size: cover;
    background-position: center bottom;
    min-height: 840px;
}

.content-banner{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-banner h1{
    font-size: 3.93em;
    font-weight: bold;
    padding-top: 245px;
    margin-bottom: 75px;
}

.content-banner h2{
    font-size: 2.18em;
    margin-bottom: 75px;
}

.btn-black{
    border: 5px solid black;
    background-color: rgba(0,0,0,.9);
    color: #64649B;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: all .4s linear;
    display: block;
    padding: 10px 0;
    width: 10%;
}

.btn-black:hover{
    background-color: black;
    color: white
}

.contact{
    background-color: black;
    min-height: 480px;
    width: 100%;
}

.content-contact{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-contact h2{
    color: white;
    font-size: 1.6em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 50px;
}

.content-contact address, .content-contact a, .btn-white{
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content-contact address{
    margin: 10px 0 0 0;
    font-size: 1.2em;
}

.icon{
    font-size: 1.5em;
}

.btn-white{
    border: 5px solid white;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: all .2s linear;
    display: block;
    padding: 10px 0;
    width: 17%;
    margin-top: 20px;
}

.btn-white:hover{
    border-color: #64649B;
    color: #64649B;
}

.frases{
    width: 100%;
    height: 185px;
    padding: 60px 0; /*atention*/
    background-color: #64649B;
    text-align: center;
}

.frases q{
    font-style: italic;
    font-size: 28px;
}

.frases p{
    font-size: 22px;
    font-weight: normal;
    margin: 20px 350px; /*atention*/
    text-align: right; /*atention*/
}

.sobre{
    background-image: url(../Img/Sobre0.jpg);
    background-size: cover;
    height: 840px;
    width: 100%;
    overflow: auto;
}

.sobre-h2{
    text-align: center;
    text-transform: uppercase;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 80%;
    margin: 130px auto 0;
    padding: 40px;
}

.content{
    text-align: center;
    width: 40%;
    line-height: 1.7;
    margin: 60px auto 20px;
}

.saiba{
    margin: 90px auto 20px;
    width: 100%;
    text-align: center;
    color: black;
}

.btn2{
    padding: 10px;
    display: block;
    margin: 25px auto;
}

.maps iframe{
    width: 100%;
}

footer{
    height: 215px;
    background-color: black;
    font-family: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
}

footer nav{
    margin: 30px 200px;
    display: inline-block;
    text-align: left;
    color: white;
}

.ul-footer li{
    list-style-type: square;
    padding: 10px;
}

.ul-footer a{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
}

.dados-footer{
    display: inline-block;
    margin-left: 200px;
}

.dados-footer p{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

footer .email{
    text-transform: lowercase;
}

.copyright{
    height: 80px;
    background-color: #64649B;
    position: static;
}

.copyright p{
    color: black;
    margin: 10px 200px;
    padding: 5px;
    position: relative;
    top: 5px;
}
